//- include ./signup-button
include ./login-button
include ./logout-button
include ./vuespa

mixin authentication-button(isAuthenticated)
  if isAuthenticated
    +logout-button 
    +vuespa
  else
    +login-button
    //- +signup-button